Lohit's Homework 1/Shiv's Solution/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema"
	elementFormDefault="qualified">
	<element name="foodDiary">
		<complexType>
			<sequence>
				<element name="breakfast"></element>
				<element name="lunch"></element>
				<element name="dinner"></element>
			</sequence>
		</complexType>
	</element>
</schema>