05 complex types/Lohit's Homework/ChildOnlySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/ChildOnlySchema"
	xmlns:tns="http://www.example.org/ChildOnlySchema"
	elementFormDefault="qualified">
	<element name="foodDiary">
		<complexType>
			<sequence>
				<element name="breakfast">
					<simpleType>
						<restriction base="string">
							<minLength value="1"></minLength>
						</restriction>
					</simpleType>						
				</element>
				<element name="lunch"></element>
				<element name="dinner"></element>
			</sequence>
		</complexType>
	</element>
</schema>